body{
	font-family: Lato;
	font-size: 17px;
	text-align: center;
}
.row{
	margin: 0;
}
.parallax-1 {
  background-image: url("imgs/3.jpg");\
}

.parallax-2{
  background-image: url("imgs/5.jpg");
  }

.jumbo.parallax p{  
	color: rgba(255, 255, 255, 0.8);
    font-size: 90px;
    line-height: 600px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.head1{
	text-align: left;
	font-size: 42px;
	margin-top: 40px;
	font-family: Aguafina Script;
}
.text1{
	text-align: left;
}
.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.text-need {
	color: #eee;
	font-weight: 100;
	font-size: 20px;
	margin-top: 1px;
	margin-bottom: 1px;
}
.tile-wish1{
	font-size: 16px;
}

.tile-wish2{
	font-size:60px;
	color: #27ae60;
	font-weight: 900;
	line-height: 0.5;
}

.tile-wish3{
	font-size:60px;
	color: #c0392b;
	font-weight: 900;
	line-height: 0.5;
}

.tile-wish4{
	text-align: left;
	font-size: 20px;
	color: #333;
}

/*
.icon-circle{
	position: absolute;
	bottom: 5%;
	right: 5%;
	height: 40px;
	width: 40px;
	background-color: rgba(5,5,5,0.8);
	border-radius: 40px;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}*/
.icon-circle{
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px; 
	padding-right: 10px; 
	position: absolute;
	bottom: 5%;
	width: 80%;
	background-color: rgba(5,5,5,0.8);
	border-radius: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 40px;
}
.tile-title{
	font-size: 40px;
	text-align: center;
	color: #333;
}

.tile{
	padding: 10px;
	border-radius: 5px;
	background-color: #eee;
}
.card{
	padding: 20px;
	background: #fff;
	height: 600px;
}
.tile-descrip {
	text-align: left;
}
.buttony{
	position: absolute;
	bottom: 5%;
	left: 5%;
	width: 90%;
	font-size: 16px;
}

.minicard1{
	font-size: 15px;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 15%;
	right: 5%;
}

.minicard2{
	font-size: 15px;
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 15%;
	left: 5%;
}

.fa-battery-0{
	color: #c0392b;
}

.fa-battery-2{
	color: #f1c40f;
}

.fa-battery-4{
	color: #27ae60;
}